{% extends "template.html" %}

{% block body %}

<div class="container" style="margin-top: 85px;">
	<div class="box2">
		<div class="row" style="margin-top: 10px;">
				<div class="col-md-2"><span class="glyphicon glyphicon-user icongebruiker"></span></div>
				<div class="col-md-10" style="margin-left: -40px;">
					<span class="oranje"><h3>Welkom 'user'</h3></span>
					<h4>Woning:</h4>

				</div>
		</div>


	</div>
</div>

<div class="container" style="margin-top: 25px;">
	<div class="box2">


	  <div class="page-header" style="margin-top: 0px;">
	    <span class="oranje"><h3>Verlichting</h3></span>
	  </div>

		<div class="row">
			<div class="col-md-6">

					<div class="row">
							<div class="col-md-3">

									<h4 style="margin-top: 9px;">Woonkamer:</h4>

							</div>
							<div class="col-md-9 text-center">

								<div class="btn-group" role="group" aria-label="Large button group">
									<button type="button" class="btn btn-warning active">Uit</button>
									<button type="button" class="btn btn-default">Aan</button>
								</div>

							</div>
					</div>



					<div class="row" style="margin-top: 10px;">
							<div class="col-md-3">

									<h4 style="margin-top: 9px;">Keuken:</h4>

							</div>
							<div class="col-md-9 text-center">

								<div class="btn-group" role="group" aria-label="Large button group">
									<button type="button" class="btn btn-default">Uit</button>
									<button type="button" class="btn btn-warning active">Aan</button>
								</div>
							</div>
					</div>



					<div class="row" style="margin-top: 10px;">
							<div class="col-md-3">

									<h4 style="margin-top: 9px;">Badkamer:</h4>

							</div>
							<div class="col-md-9 text-center">

								<div class="btn-group" role="group" aria-label="Large button group">
									<button type="button" class="btn btn-default">Uit</button>
									<button type="button" class="btn btn-warning active">Aan</button>
								</div>
							</div>
					</div>

		</div>
		<div class="col-md-6 text-center">

				<h3 style="margin-top: -5px;margin-bottom: 20px;"><span class="oranje">Indien u in gevaar verkeerd:</span></h3>
				<button type="button" class="btn btn-warning btn-lg">Alarm knop</button>

		</div>
	</div>


	</div>

</div>

{% endblock %}