<html lang="en">
	<head>
		<title>Domotica</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="HU-ICTV1G-IDP-G3">

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<body id="index">

<div class="container">
  <div class="hidden-xs hidden-sm" style="margin-top: 150px;"></div><div class="hidden-md hidden-lg" style="margin-top: 25px;"></div>
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='img/logo.png') }}" class="hidden-md hidden-lg" alt="Do logo" height="55px" style="margin-bottom: 15px;"/></span>

      <div class="box1 hidden-xs hidden-sm">
          <h1><span class="iconhome glyphicon glyphicon-home"></span><span class="oranje"> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Do logo" height="65px" style="margin-top: -17px;"/></span></h1>
          <p>
            Beheer online, uw verlichting en zorg voor extra veiligheid door camera toezicht in uw woning. Ontwikkeld door: Paul Ettema, Matthias van Dijk, Youri van Hal, Victor Shao en Kristiaan Hoogendoorn.
          </p>
      </div>

    </div>
    <div class="col-md-6">
        <div class="login">

            <h2><span class="oranje">Log hier in</span></h2>

            <form class="form-horizontal" method="post">
                {{ LoginForm.csrf_token }}
              <div class="form-group {% if LoginForm.gebruikersnaam.errors %} has-error {% endif %}">
                  {{ LoginForm.gebruikersnaam(placeholder="Gebruikersnaam", class="form-control input-lg smallborder") }}
              </div>

              <div class="form-group {% if LoginForm.password.errors %} has-error {% endif %}">
                  {{ LoginForm.password(placeholder="Wachtwoord", class="form-control input-lg smallborder") }}
              </div>

              <div class="form-group text-right">
                  <button type="submit" class="btn btn-warning btn-lg smallborder" style="width: 100%;">Aanmelden</button>
              </div>
            </form>

        </div>

    </div>
  </div>
</div>

</body>
