{% extends "template.html" %}

{% block body %}

<div class="container" style="margin-top: 85px;">
	<div class="box2">

		<h3><span class="oranje">Camera stream:</span></h3>
		<h4>Verbonden met woning: {{ camera_id[0][3] }}, camera: {{ camera_id[0][1] }}.</h4>

	</div>
</div>


<div class="container" style="margin-top: 15px;">
	<div class="box2">

		<div class="row" style="margin-top: 15px;">
			<div class="col-md-9">
					<img class="img-responsive" src="{{ camera_id[0][2] }}" alt="" />
			</div>
			<div class="col-md-3 text">

					<h3><span class="oranje">Woningen:</span></h3>
                            {% for woning in woning_info %}
                                <a class="btn btn-primary btn-xs" href="/meldkamer/{{ woning_info[loop.index0][0] }}/" style="margin-top: 5px;width: 100%;">{{ woning_info[loop.index0][0] }}. {{ woning_info[loop.index0][1] }}</a>
                            {% endfor %}

			</div>
		</div>

	</div>
</div>

<div class="container" style="margin-top: 10px;">
	<div class="box2">

			<div style="margin-top: 13px;">
					<a class="btn btn-primary active" href="#">{{ camera_id[0][1] }}</a>
			</div>

	</div>
</div>


<div class="container" style="margin-top: 15px;">
	<div class="box2">

			<h3><span class="oranje">Noodmeldingen:</span></h3>
			 <p id="result">
				Geen noodmeldingen
				<script>
				window.setInterval(function(data){
					$.getJSON($SCRIPT_ROOT + '/meldkamer/alarm', function(data){
						var str = "";

						for (i = 0; i < data.result.length; i++) {
							str = str + data.result[i] + "<a class=\"btn btn-primary btn-xs\" href=\"/meldkamer/alarm/opheffen/" + data.result[i][0] + "/\">1. een_adress</a>" + "</br>";

						}
						$("#result").html(str);

						});
				}, 5000);

				</script>
			</p>

	</div>
</div>

<div class="container" style="margin-top: 15px;">
	<div class="box2">
			<h3><span class="oranje">Servers:</span></h3>
			<div style="margin-top: 10px;">
					{% for melding in server_uplist %}

						{% if server_uplist[loop.index0][0] == 1 %}

							<p class="bg-success">Woning_ID {{ server_uplist[loop.index0][2] }}, {{ server_uplist[loop.index0][1] }}.</p>

						{% else %}

							<p class="bg-danger">Woning_ID {{ server_uplist[loop.index0][2] }}, {{ server_uplist[loop.index0][1] }}.</p>

						{% endif %}

					{% endfor %}
			</div>

	</div>
</div>

{% endblock %}